body {
  max-width: 46em;
}
dt {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
form {
  background-color: lightblue;
  border-radius: 10px;
  padding: 0.5em;
}
form input {
  margin: 0.5em 0.75em 0.5em 0.5em;
}
span.antispam {
  display: none;
}
img {
  width: 100%;
  max-width: 46em;
}
.submit {
  float: right;
}
.todo {
  color: red;
  font-family: monospace;
  font-weight: bold;
}
@media only screen and (max-device-width: 480px) {
  ul li {
    padding: 6mm 0px;
  }
}