h2 {
  font-size: 120%;
}
option {
  font-size: 150%;
}
#statuses option {
  border: solid 1px white;
  border-radius: 10px;
  border-left-width: 15px;
}
#statuses option[value="any"] {
  font-style: italic;
}
#statuses option[value="draft"] {
  border-left-color: #55aa55;
}
#statuses option[value="final"] {
  border-left-color: purple;
}
#statuses option[value="withdrawn"] {
  border-left-color: lightgray;
}
.posts h2 {
  margin-top: 0;
}
.rss-logo img {
  float: right;
  margin-left: 2em;
  width: 1em;
}
select {
  border: none;
}