.authors,
.status {
  color: grey;
}
.card {
  padding: 10px;
}
.card .see-also {
  color: grey;
  font-size: 80%;
}
.card-anchor {
  border-radius: 0 10px 10px 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.list .authors:before {
  content: ", "
}
.date-group {
  color: grey;
  display: block;
  font-size: 80%;
  padding-top: 0.25em;
}
.info {
  position: relative;
}
.info a {
  display: block;
  margin: 0.5em 0 0.5em 0;
  padding: 10px;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
.list {
  columns: 15em;
  -moz-columns: 15em;
  margin: 0;
  orphans: 3;
  padding: 20px 0 0;
}
.list > li {
  border: solid 2px lightgrey;
  border-radius: 10px;
  border-left-width: 15px;
  box-shadow: inset 0 1px 0 #fff;
  break-inside: avoid-column;
  display: block;
  position: relative;
}
.list > li.draft {
  border-left-color: #55aa55;
}
.list > li.final {
  border-left-color: purple;
}
.list > li.withdrawn {
  border-left-color: lightgray;
}
.list > li:hover {
  border: solid 2px blue;
  border-left-width: 15px;
}
.name,
.number {
  font-weight: bold;
  margin: 0 0 0.3rem;
}
.number:after {
  content: ": ";
}
p a {
  font-weight: bold;
}
.search {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  margin-right: 2em;
}
.search:focus {
  border-color: #aaa;
  outline: none;
}
.see-also a {
  position: relative;
}
.sort {
  background-color: #116611;
  border-radius: 6px;
  border: none;
  color: #fff;
  display: inline-block;
  height: 30px;
  padding: 0 1em;
  text-decoration: none;
}
.sort:focus {
  background-color: #88cc88;
  color: black;
  outline: none;
}
.sort:hover {
  background-color: #1b8aba;
  text-decoration: none;
}
.sort:after {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: -10px;
  width: 0;
}
.sort.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: 13px;
  width: 0;
}
.sort.desc:after {
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: -10px;
  width: 0;
}
.info,
.list {
  columns: 15em;
  -moz-columns: 15em;
  orphans: 3;
  margin-bottom: 1px;
  padding: 0;
}
.info > li {
  border: solid 2px lightgrey;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 #fff;
  break-inside: avoid-column;
  display: block;
}
.info > li form {
  border: none;
}