.abstract a,
.keywords a,
.see-also a {
  position: relative;
}
.authors,
.based-on,
p.keywords,
.status {
  color: grey;
}
p.keywords {
  font-weight: bold;
}
.card {
  padding: 10px;
}
.card h3 {
  margin-top: 0;
}
.card .see-also {
  color: grey;
  font-size: 80%;
}
.card-anchor {
  border-radius: 0 10px 10px 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.date-group,
span.keywords {
  color: grey;
  display: block;
  font-size: 80%;
  padding-top: 0.25em;
}
.firefox-column-workaround {
  display: inline-block;
}
.info {
  position: relative;
  top: 1em;
}
.info a {
  display: block;
  margin: 0.5em 0 0.5em 0;
  padding: 10px;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
.info,
.list,
.posts {
  orphans: 3;
  margin: 0 0 1px 0;
  padding: 0;
}
.list li,
.post li {
  page-break-inside: avoid;
}
.info,
.list.summary,
.posts {
  columns: 15em;
  -moz-columns: 15em;
}
.posts.wide {
  columns: 30em;
}
.info > li,
.posts > li {
  border: solid 2px lightgrey;
  border-radius: 10px;
  box-shadow: inset 0 1px 0 #fff;
  break-inside: avoid-column;
  display: block;
}
.info > li form {
  border: none;
}
.card.invisible-keywords,
.card.invisible-status,
.invisible {
  display: none;
}
.list > li {
  border: solid 2px lightgrey;
  border-radius: 10px;
  border-left-width: 15px;
  box-shadow: inset 0 1px 0 #fff;
  break-inside: avoid-column;
  display: block;
  position: relative;
}
.list > li.draft {
  border-left-color: #55aa55;
}
.list > li.final {
  border-left-color: purple;
}
.list > li.withdrawn {
  border-left-color: lightgray;
}
.list > li:hover {
  border: solid 2px blue;
  border-left-width: 15px;
}
.maillist {
  margin-bottom: 1em;
}
.name,
.number {
  font-weight: bold;
  margin: 0 0 0.3rem;
}
p a {
  font-weight: bold;
}
.search {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
  margin-right: 2em;
}
.search:focus {
  border-color: #aaa;
  outline: none;
}
.controls {
  background-color: #116611;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  margin: 0.1em;
  padding: 0 1em;
  text-decoration: none;
  text-align: left;
}
.controls:focus {
  outline: none;
}
.controls:hover {
  background-color: #1b8aba;
  text-decoration: none;
}
.controls:after {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: -10px;
  width: 0;
}
.controls.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: 13px;
  width: 0;
}
.controls.desc:after {
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  height: 0;
  position: relative;
  right: -5px;
  top: -10px;
  width: 0;
}
.checkbox-label input {
  position: relative;
  vertical-align: middle;
}
.chosen {
  vertical-align: middle;
}
.detailed .abstract {
  display: block;
}
.dropdown {
  position: relative;
}
.dropdown button {
  width: 8em;
}
.dropdown .options {
  background-color: #f6f6f6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  z-index: 1;
}
.dropdown option {
  border: solid 1px white;
}
.dropdown select {
  overflow-y: auto;
  width: 23em;
}
.dropdown button span {
  display: none;
}
.dropdown.show-options button span {
  display: inline;
  float: right;
  font-weight: bold;
}
.dropdown.show-options .options {
  display: block;
}
option:hover {
  background: lightblue;
}
option:hover:before {
  font-weight: bold;
}
option:checked:before {
  content: "☑ ";
  font-style: normal;
}
option:not(checked):before {
  content: "☐ ";
  font-style: normal;
}
#parameters,
noscript p {
  border: solid 2px lightgrey;
  border-radius: 6px;
  margin: 1em 0 1em 0;
  padding: 1em;
}
#parameters > div {
  display: table-row;
}
#parameters > div button {
  display: table-cell;
  width: 8em;
}
#parameters > div > span:nth-child(1) {
  display: table-cell;
  padding-right: 0.5em;
  text-align: right;
}
.summary .abstract {
  display: none;
}