a.eponymous {
  font-family: Monaco, Courier, monospace;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}
body {
  font-size: 18px;
  max-width: 46em;
}
span.antispam {
  display: none;
}