a.eponymous {
  font-family: Monaco, Courier, monospace;
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}
body {
  font-size: 18px;
  max-width: 46em;
}
body h1:first-child {
  font-size: 150%;
  margin: 0;
}
img.srfi-logo {
  margin-right: 0.5em;
  vertical-align: middle;
  width: 4em;
}
span.antispam {
  display: none;
}