<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scheme Requests for Implementation</title>
    <link rel="preload" href="srfi.js" as="script">
    <link href="favicon.png" rel="icon" sizes="192x192" type="image/png">
    <link rel="stylesheet" type="text/css" href="admin.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" type="text/css" href="list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
     });
    </script>
    <script crossorigin="anonymous" integrity=
            "sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" src=
            "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script></head>
  <body>
    <h1><img class="srfi-logo" src="srfi-logo.svg" alt="SRFI logo" />Scheme Requests for Implementation</h1>

    <p class="hide">SRFIs extend the Scheme programming language.  You
      can help. <a href="about.html">Learn more</a>.</p>

    <section class="announcement">
    <h2>New mailing lists: <a href="srfi-list-subscribe.html#schemeregistry"><code>schemeregistry</code></a> and <a href="srfi-list-subscribe.html#schemetest"><code>schemetest</code></a></h2>
    <p>As of August, 2020, there are two new Scheme Topics
      mailing
      lists: <a href="srfi-list-subscribe.html#schemeregistry"><code>schemeregistry</code></a>
      and <a href="srfi-list-subscribe.html#schemetest"><code>schemetest</code></a>.</p>

      <p><code>Schemeregistry</code> is for discussing the Scheme
	Registry, a database of defined symbols, identifiers and other
	pieces of data used by Scheme standards and implementations.</p>

      <p><code>Schemetest</code> is for discussing anything and everything
	having to do with testing in the world of Scheme.</p>

</p></section>

    <h2>The SRFIs</h2>

    <noscript><p>Javascript is not enabled in your browser, so
      filtering, searching, and sorting the list of SRFIs is turned
      off.</p></noscript>

    <div id="srfis">
      <div class="invisible" id="parameters">
        <div>
          <span>Search for</span>
          <input class="search" id="search" placeholder="numbers or words" tabindex="1" /></div>
        <div>
          <span>Sort by</span>
          <button class="controls sort" data-sort="authors" tabindex="2" >authors</button>
          <button class="controls sort" data-sort="date" tabindex="3" >date</button>
          <button class="controls sort" data-sort="name" tabindex="4" >name</button>
          <button class="controls sort" data-sort="number" tabindex="5" >number</button>
          <button class="controls sort" data-sort="status" tabindex="6" >status</button></div>
        <div>
          <span>Filter by </span>
          <div class="dropdown" id="statuses">
            <button class="controls">status<span> ×</span></button>
            <div class="options">
              <select multiple size="4">
                <option selected value="any">any</option>
                <option value="draft">Draft</option>
                <option value="final">Final</option>
                <option value="withdrawn">Withdrawn</option></select></div>
            <span class="chosen"></span></div>
          <div class="dropdown" id="keywords">
            <button class="controls">keywords<span> ×</span></button>
            <div class="options">
              <select multiple size="<*<keyword-count>*>">
                <option selected value="any">any</option><*<keyword-options>*></select></div>
            <span class="chosen"></span></div></div>
        <div>
          <span>Show</span>
          <label class="checkbox-label controls">
            <input class="controls" id="abstracts-control" tabindex="7" type="checkbox">
            abstracts</label></div></div>
      <ul class="summary list">
<*<srfi-list>*></ul></div>

    <hr />

    <p>Here is <a href="srfi-privacy.html">our privacy statement</a>.

    <p>If you have any general questions about this site, please
    contact <a href="mailto:srfi-editors%20at%20srfi%20dot%20schemers%20dot%20org">the
    SRFI editors</a>.</p>

    <script crossorigin="anonymous"
            integrity="sha384-JDmRxRiXkNkskRM5AD4qHRGk9ItwZ9flbqOpsRYs8SOrIRwcMtTGKP2Scnjptzgm"
            src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="srfi.js"></script></body></html>