<li class="<*<status>*>"><a href="<*<url>*>"><span class="number"><*<number>*></span><span class="name"><*<name>*></span><span class="authors">, by <*<authors>*></span> <span class="status">(<*<status>*>)</span></a></li>