<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Scheme Requests for Implementation</title>
    <link href="favicon.png" rel="icon" sizes="192x192" type="image/png" />
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="stylesheet" type="text/css" href="list.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
     });
    </script>
    <script crossorigin="anonymous" integrity=
	    "sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" src=
	    "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
	    type="text/javascript"></script></head>
  <body>
    <h1>Scheme Requests for Implementation</h1>

    <img src="srfi.png" alt="srfi.png" />

    <p>
      The purpose of the Scheme Requests for Implementation (SRFI)
      process is to help Scheme users write portable, useful code.
      We write concrete, detailed proposals and reference
      implementations for libraries and other additions to the
      Scheme language, and we encourage Scheme implementors to adopt
      them.</p>

    <p>
      If you're interested in reading existing proposals, writing a
      new one (<a href="srfi-template.html">template</a>), providing
      feedback on a draft proposal, helping with a reference
      implementation, or reporting a bug, please read about <a
      href="srfi-process.html">our process</a>, skim our <a
      href="srfi-faq.html">FAQ</a>, and <a
      href="srfi-list-subscribe.html">subscribe</a> to some of our
      mailing lists.</p>

    <p>
      Here are the SRFIs:</p>

    <noscript><p>Javascript is not enabled in your browser, so
      filtering, searching, and sorting the list of SRFIs is turned
      off.</p></noscript>

    <div id="srfis">
      <div class="invisible" id="parameters">
	<div>
	  <span>Search for</span>
	  <input class="search" id="search" placeholder="numbers or words" tabindex="1" /></div>
	<div>
	  <span>Sort by</span>
	  <button class="controls sort" data-sort="authors" tabindex="2" >authors</button>
	  <button class="controls sort" data-sort="date" tabindex="3" >date</button>
	  <button class="controls sort" data-sort="name" tabindex="4" >name</button>
	  <button class="controls sort" data-sort="number" tabindex="5" >number</button>
	  <button class="controls sort" data-sort="status" tabindex="6" >status</button></div>
	<div>
	  <span>Filter by </span>
	  <div class="dropdown" id="statuses">
	    <button class="controls">status</button>
	    <div class="options">
	      <select multiple size="3">
		<option value="draft">Draft</option>
		<option value="final">Final</option>
		<option value="withdrawn">Withdrawn</option></select></div>
	    <span class="chosen"></span></div>
	  <div class="dropdown" id="keywords">
	    <button class="controls">keywords</button>
	    <div class="options">
	      <select multiple size="27"><*<keyword-options>*></select></div>
	    <span class="chosen"></span></div></div>
	<div>
	  <span>Show</span>
	  <label class="checkbox-label controls">
	    <input class="controls" id="abstracts-control" tabindex="7" type="checkbox">
	    abstracts</label></div></div>
      <ul class="summary list">
<*<srfi-list>*></ul></div>

    <p>Every SRFI is hosted on Github, but if you'd like a complete
      archive of all SRFI documents and code, please download <a
href="srfi.tgz">srfi.tgz</a>.</p>

    <p>
      The SRFI process  has been important to the development of
      some of the official Scheme standards, including <a
      href="http://www.r6rs.org/">R<sup>6</sup>RS</a> and <a
      href="http://r7rs.org">R<sup>7</sup>RS</a>.  It has been
      running <a href="srfi-history.html">since 1998</a>, and there
      have been many <a href="srfi-editors.html">different editors</a>.</p>

    <p>
      Here's a graph of the total number of SRFIs since <a href="../srfi-0">SRFI 0</a> was published
      on 1999/1/5:</p>

    <object type="image/svg+xml" data="srfi.svg" width="100%" />

    <p>
      — <a href="mailto:srfi-editors%20at%20srfi%20dot%20schemers%20dot%20org">the SRFI editors</a> (email)</p>

    <script crossorigin="anonymous"
	    integrity="sha384-JDmRxRiXkNkskRM5AD4qHRGk9ItwZ9flbqOpsRYs8SOrIRwcMtTGKP2Scnjptzgm"
	    src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"
	    type="application/javascript"></script>
    <script src="srfi.js" type="application/javascript"></script></body></html>
