<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 3.2//EN">
<html>
  <head>
    <title><*<title>*></title>
    <link href="../srfi-common/admin.css" rel="stylesheet">
    <link href="../srfi-common/list.css" rel="stylesheet">
    <link href="../srfi-common/favicon.png" rel="icon" sizes="192x192" type="image/png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
       tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
     });
    </script>
    <script crossorigin="anonymous" integrity=
            "sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv" src=
            "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
            type="text/javascript"></script>
  </head>

  <body>
    <h1>SRFI <*<number>*>: <*<title>*></h1>
    <p class="authors">by <*<authors>*></p>
    <p class="status">status: <em><*<status>*></em> (<*<date>*>)</p><*<see-also>*>

    <ul class="info">
      <li><a href="srfi-<*<number>*>.html">The SRFI Document</a></li>
<*<email-archives>*>
      <li><a href="https://github.com/scheme-requests-for-implementation/srfi-<*<number>*>">Git repo (on Github)</a></li>
      <li>
        <a href="mailto:srfi-<*<number>*>@srfi.schemers.org">srfi-<*<number>*>@<span class="antispam">nospam</span>srfi.schemers.org (subscribers only)</a></li>
      <li>
        <form method="POST" action="https://www.simplelists.com/subscribe.php">
          <div class="title">Subscribe to srfi-<*<number>*> mailing list</div>
          <input name="email"
                 placeholder="email address"
                 tabindex="1"
                 type="email" >
          <input name="name"
                 placeholder="full name"
                 tabindex="2"
                 type="text" >
          <p>
            <input id="sub-digest"
                   name="digest"
                   tabindex="3"
                   type="checkbox"
                   value="digest" >
            <label for="sub-digest">daily digest?</label></p>
          <input class="submit"
                 name="submit"
                 tabindex="4"
                 type="submit"
                 value="Subscribe to srfi-<*<number>*>" >
          <input type="hidden" name="action" value="subscribe">
          <input type="hidden" name="list" value="srfi-<*<number>*>@srfi.schemers.org"></form></li>
      <li>
        <form method="POST" action="https://www.simplelists.com/subscribe.php">
          <p class="title">Unsubscribe from srfi-<*<number>*> mailing list</p>
          <input name="email"
                 placeholder="email address"
                 tabindex="5"
                 type="email" >
          <input class="submit"
                 name="submit"
                 tabindex="6"
                 type="submit"
                 value="Unsubscribe from srfi-<*<number>*>" >
          <input name="action"
                 type="hidden"
                 value="unsubscribe" >
          <input name="list"
                 type="hidden"
                 value="srfi-<*<number>*>@srfi.schemers.org"></form></li></ul>
    <h2>Abstract</h2><*<abstract>*></body></html>