<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 3.2//EN">
<html>
  <head>
    <title><*<title>*></title>
    <link href="../admin.css" rel="stylesheet">
  </head>

  <body>
    <h1>SRFI <*<number>*>: <*<title>*></h1>
    <h2>by <*<authors>*></h2>

    <menu>
      <li><a href="srfi-<*<number>*>.html">The SRFI Document</a></li>
<*<email-archives>*>
      <li>status: <em><*<status>*></em></li>
      <li><a href="https://github.com/scheme-requests-for-implementation/srfi-<*<number>*>">Git repo</a></li></menu>

    <form class="subscription" method="POST" action="http://www.simplelists.com/subscribe.php">
      <input type="email" name="email" placeholder="Your email address">
      <input type="text" name="name" placeholder="Your full name">
      Daily digest:&nbsp;<input type="checkbox" name="digest" value=" digest">
      <input class="submit" type="submit" name="submit" value="Subscribe to srfi-<*<number>*>">
      <input type="hidden" name="action" value="subscribe">
      <input type="hidden" name="list" value="srfi-<*<number>*>@srfi.schemers.org"></form>

    <form class="subscription" method="POST" action="http://www.simplelists.com/subscribe.php">
      <input type="email" name="email" placeholder="Your email address">
      <input class="submit" type="submit" name="submit" value="Unsubscribe from srfi-<*<number>*>">
      <input type="hidden" name="action" value="unsubscribe">
      <input type="hidden" name="list" value="srfi-<*<number>*>@srfi.schemers.org"></form>

    <p>Post to the post-finalization discussion list by sending mail
      to <code>srfi-<*<number>*>@<span class="antispam">nospam</span>srfi.schemers.org</code>.</p>

    <hr>
    <address><a href="mailto:srfi minus editors at srfi dot schemers dot org">The SRFI Editors</a></address>
  </body>
</html>