
      <li class="card <*<status>*>"><a class="card-anchor" href="srfi-<*<number>*>/"></a><span class="number"><*<number>*></span><span class="name"><*<name>*></span><span class="authors">by <*<authors>*></span><span class="date-group"><*<date-type>*>: <span class="date"><*<date>*></span></span><span class="status" data-status="<*<status>*>"></span><*<see-also>*></li>