<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="admin.css" rel="stylesheet" type="text/css">
    <link href="list.css" rel="stylesheet" type="text/css">
    <link href="favicon.png" rel="icon" sizes="192x192" type="image/png">
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <title><*<status>*> Scheme Requests for Implementation</title>
  </head>
  <body>
    <h1><*<status>*> Scheme Requests for Implementation</h1>
    <div id="srfis">
      <input class="search" placeholder="Search" tabindex="1" />
      Sort by
      <button class="sort" data-sort="authors" tabindex="2" >authors</button>
      <button class="sort" data-sort="date" tabindex="3" >date</button>
      <button class="sort" data-sort="name" tabindex="4" >name</button>
      <button class="sort" data-sort="number" tabindex="5" >number</button>
      <ul class="list"><*<srfi-list>*></ul></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.4.1/list.min.js" type="application/javascript"></script>
    <script src="list.js" type="application/javascript"></script></body></html>