
      <li class="card <*<status>*>"><a class="card-anchor" href="srfi-<*<number>*>/"></a><a href="srfi-<*<number>*>/"><span class="number"><*<number>*></span></a>: <span class="name"><*<name>*></span><span class="authors">, by <*<authors>*></span><span class="based-on"><*<based-on>*></span><span class="date-group"><*<date-type>*>: <span class="date"><*<date>*></span></span><span class="keywords" data-keywords="<*<keyword-values>*>">Keywords: <*<keyword-names>*></span><span class="status" data-status="<*<status>*>"></span><*<see-also>*><div class="abstract"><*<abstract>*></div></li>